<?xml version="1.0"?>
<launch>

    <arg name="r_name" default="racecar"/>
    <arg name="vesc_ns" default="/vesc"/>
    <arg name="use_comm_layer" default="false"/>

    <!--Launch the move_base node-->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" ns="/$(arg r_name)">

        <remap from="/$(arg r_name)/$(arg r_name)/scan" to="/$(arg r_name)/scan"/>
        <remap from="/$(arg r_name)/odom" to="$(arg vesc_ns)/odom"/>

        <rosparam file="$(find racecar_navigation)/params/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam param="/$(arg r_name)/move_base/global_costmap/obstacle_layer/laser_scan_sensor/topic" subst_value="True">$(arg r_name)/scan</rosparam>
        <rosparam param="/$(arg r_name)/move_base/global_costmap/obstacle_layer/laser_scan_sensor/frame_name" subst_value="True">$(arg r_name)/laser</rosparam>

        <rosparam param="/$(arg r_name)/move_base/global_costmap/communication_layer/enabled" subst_value="True">$(arg use_comm_layer)</rosparam>
        <rosparam param="/$(arg r_name)/move_base/global_costmap/communication_layer/communication_topic" subst_value="True">/$(arg r_name)/footprints_combined</rosparam>

        <rosparam file="$(find racecar_navigation)/params/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam param="/$(arg r_name)/move_base/local_costmap/obstacle_layer/laser_scan_sensor/topic" subst_value="True">$(arg r_name)/scan</rosparam>
        <rosparam param="/$(arg r_name)/move_base/local_costmap/obstacle_layer/laser_scan_sensor/frame_name" subst_value="True">$(arg r_name)/laser</rosparam>

        <rosparam file="$(find racecar_navigation)/params/local_costmap_params.yaml" command="load"/>
        <rosparam param="/$(arg r_name)/move_base/local_costmap/robot_base_frame" subst_value="True">$(arg r_name)/base_link</rosparam>

        <rosparam file="$(find racecar_navigation)/params/global_costmap_params.yaml" command="load"/>
        <rosparam param="/$(arg r_name)/move_base/global_costmap/robot_base_frame" subst_value="True">$(arg r_name)/base_link</rosparam>

        <rosparam file="$(find racecar_navigation)/params/teb_planner_params.yaml" command="load"/>
        <rosparam param="/$(arg r_name)/move_base/TebLocalPlannerROS/odom_topic" subst_value="True">$(arg vesc_ns)/odom</rosparam>
    </node>


</launch>
