<?xml version="1.0"?>
<launch>

  <arg name="world_name" default="threeLanesCurve" />
  <arg name="gui" default="true" />
  <arg name="run_camera" default="false"/>
  <arg name="r_name" default="racecar"/>
  <arg name="vesc_ns" default="/vesc"/>
  <arg name="x_pos" default="5"/>
  <arg name="y_pos" default="-1.6"/>
  <arg name="z_pos" default="0.05"/>

  <include file="$(find racecar_gazebo)/launch/one_racecar.launch">
    <arg name="world_name" value="$(arg world_name)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="run_camera" value="$(arg run_camera)"/>
    <arg name="r_name" value="$(arg r_name)"/>
    <arg name="vesc_ns" value="$(arg vesc_ns)"/>
    <arg name="x_pos" value="$(arg x_pos)"/>
    <arg name="y_pos" value="$(arg y_pos)"/>
    <arg name="z_pos" value="$(arg z_pos)"/>
  </include>

  <include file="$(find racecar_mapping)/launch/gmapping.launch" ns="/$(arg r_name)">
    <arg name="vesc_ns" value="$(arg vesc_ns)"/>
    <arg name="r_name" value="$(arg r_name)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find racecar_rviz)/rviz/one_mapping.rviz"/>
  
</launch>
