<?xml version="1.0"?>
<launch>

  <!--Arguments-->
  <arg name="world_name" default="threeLanes" />
  <arg name="gui" default="False" />

  <!--Gazebo World-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find racecar_gazebo)/worlds/$(arg world_name).sdf"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

</launch>
