<?xml version="1.0"?>
<launch>

  <!--Arguments-->
  <!--<arg name="world_name" default="threeLanesSmoothCurve3" /> -->
  <arg name="world_name" default="threeLanesCurve" />
  <arg name="gui" default="true" />
  <arg name="run_camera" default="false"/>
  <arg name="r_name" default="racecar"/>
  <arg name="vesc_ns" default="/vesc"/>

  <arg name="x_pos1" default="5"/>
  <arg name="y_pos1" default="-1.6"/>
  <arg name="z_pos1" default="0.05"/>

  <arg name="x_pos2" default="-5"/>
  <arg name="y_pos2" default="1.6"/>
  <arg name="z_pos2" default="0.05"/>

  <arg name="x_pos3" default="5"/>
  <arg name="y_pos3" default="1.6"/>
  <arg name="z_pos3" default="0.05"/>

  <arg name="x_pos4" default="-5"/>
  <arg name="y_pos4" default="-1.6"/>
  <arg name="z_pos4" default="0.05"/>

  <!--Gazebo World-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find racecar_gazebo)/worlds/$(arg world_name).sdf"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!--Racecar 1-->
  <include file="$(find racecar_gazebo)/launch/racecar.launch" ns="/$(arg r_name)1">
    <arg name="r_name" value="$(arg r_name)1"/>
    <arg name="vesc_ns" value="$(arg vesc_ns)1"/>
    <arg name="r_num" value="1"/>
    <arg name="x_pos" value="$(arg x_pos1)"/>
    <arg name="y_pos" value="$(arg y_pos1)"/>
    <arg name="z_pos" value="$(arg z_pos1)"/>
  </include>

  <!--Racecar 2-->
  <include file="$(find racecar_gazebo)/launch/racecar.launch" ns="/$(arg r_name)2">
    <arg name="r_name" value="$(arg r_name)2"/>
    <arg name="vesc_ns" value="$(arg vesc_ns)2"/>
    <arg name="r_num" value="2"/>
    <arg name="x_pos" value="$(arg x_pos2)"/>
    <arg name="y_pos" value="$(arg y_pos2)"/>
    <arg name="z_pos" value="$(arg z_pos2)"/>
  </include>

  <!--Racecar 3-->
  <include file="$(find racecar_gazebo)/launch/racecar.launch" ns="/$(arg r_name)3">
    <arg name="r_name" value="$(arg r_name)3"/>
    <arg name="vesc_ns" value="$(arg vesc_ns)3"/>
    <arg name="r_num" value="3"/>
    <arg name="x_pos" value="$(arg x_pos3)"/>
    <arg name="y_pos" value="$(arg y_pos3)"/>
    <arg name="z_pos" value="$(arg z_pos3)"/>
  </include>

  <!--Racecar 4-->
  <include file="$(find racecar_gazebo)/launch/racecar.launch" ns="/$(arg r_name)4">
    <arg name="r_name" value="$(arg r_name)4"/>
    <arg name="vesc_ns" value="$(arg vesc_ns)4"/>
    <arg name="r_num" value="4"/>
    <arg name="x_pos" value="$(arg x_pos4)"/>
    <arg name="y_pos" value="$(arg y_pos4)"/>
    <arg name="z_pos" value="$(arg z_pos4)"/>
  </include>

    <!--Inter-Communication-->
    <include file="$(find racecar_communication)/launch/four_racecars_communication.launch">
      <arg name="r_name" value="$(arg r_name)"/>
      <arg name="vesc_ns" value="$(arg vesc_ns)"/>
    </include>

</launch>
