<?xml version="1.0"?>
<launch>

  <!--Arguments-->
  <arg name="r_name" default="racecar"/>
  <arg name="vesc_ns" default="/vesc"/>

  <arg name="r_type" default="racecar"/>
  <arg name="r_num" default="1"/>
  <arg name="vis_laser" default="true"/>

  <arg name="x_pos" default="0"/>
  <arg name="y_pos" default="-0.775"/>
  <arg name="z_pos" default="0.05"/>

  <arg name="max_vel" default="0.5"/>
  <arg name="max_acc" default="0.1"/>

  <arg name="ctrl_method" default=""/>


  <!--TF Prefix-->
  <param name="tf_prefix" value="/$(arg r_name)"/>


  <!--Racecar Description-->
  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <param name="robot_description" command="$(find xacro)/xacro '$(find racecar_description)/urdf/$(arg r_type).xacro' vis_laser:=$(arg vis_laser)"/>


  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="racecar_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model $(arg r_name) -z $(arg z_pos) -x $(arg x_pos) -y $(arg y_pos) -robot_namespace /$(arg r_name)" />
<!-- x 6 y -10.275-->


  <!-- ros_control racecar launch file -->
  <include file="$(find racecar_control)/launch/racecar_control$(arg ctrl_method).launch" ns="/$(arg r_name)">
    <arg name="r_name" value="$(arg r_name)"/>
    <arg name="vesc_ns" value="$(arg vesc_ns)"/>
    <arg name="r_num" value="$(arg r_num)"/>
  </include>


  <!-- Spawn the MUXs -->
  <arg name="racecar_version" default="racecar-v2" />
  <include file="$(find racecar)/launch/mux.launch" ns="$(arg vesc_ns)">
    <arg name="vesc_ns" value="$(arg vesc_ns)"/>
  </include>


  <!-- Publish "better odom" topic that is normally generated by the particle filter -->
    <node name="better_odom" pkg="topic_tools" type="relay"
          args="$(arg vesc_ns)/odom $(arg vesc_ns)/pf/pose/odom" />


</launch>
