<?xml version="1.0"?>

<launch>

  <arg name="r_name" default="racecar"/>  
  <arg name="vesc_ns" default="/vesc"/>  
  <arg name="map_file" default="$(find racecar_mapping)/maps/threeLanes.yaml"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find racecar_localization)/launch/amcl.launch" ns="/$(arg r_name)1">
    <arg name="vesc_ns" value="$(arg vesc_ns)1"/>
  </include>

 <include file="$(find racecar_localization)/launch/amcl.launch" ns="/$(arg r_name)2">
    <arg name="vesc_ns" value="$(arg vesc_ns)2"/>
  </include>

 <include file="$(find racecar_localization)/launch/amcl.launch" ns="/$(arg r_name)3">
    <arg name="vesc_ns" value="$(arg vesc_ns)3"/>
  </include>

 <include file="$(find racecar_localization)/launch/amcl.launch" ns="/$(arg r_name)4">
    <arg name="vesc_ns" value="$(arg vesc_ns)4"/>
  </include>

</launch>
