<?xml version="1.0"?>

<launch>

  <arg name="r_name" default="racecar"/>  
  <arg name="vesc_ns" default="/vesc"/>  
  <arg name="map_file" default="$(find racecar_mapping)/maps/threeLanes.yaml"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find racecar_localization)/launch/amcl.launch" ns="/$(arg r_name)">
    <arg name="vesc_ns" value="$(arg vesc_ns)"/>
  </include>

</launch>
